.footer-middle {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}
.text-right{
    text-align: right;
}
.pt-90 {
    padding-top: 90px !important;
}
.my-account__address-list {
    display: flex;
    gap: 1.625rem;
}

.form-floating>.form-control,
.form-floating>.form-select {
    height: 48px;
}

.hover-container{
    position: relative;
}

.user_box{
    position: absolute;
    top: 30px;
    width: auto;
    height: auto;
    display: none;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);
    background-color: var(--bs-white);
}

.user_box ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.hover-container:hover .user_box {
    display: block;   
}